<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<substitutionProperty name="log.base" value="/log" />

	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy-MM-dd hh:mm} %-5level %logger{10} - %msg%n</pattern>
		</layout>
	</appender>
	 <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/wasuser/WebServiceRequestLog/WebServiceRequest-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
 
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %logger - %msg%n</pattern>
        </encoder>
    </appender>
	
	<logger name="com">
		<level value="INFO" />
		<appender-ref ref="logfile"/>
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="stdout"/>
    </root>
</configuration>

